body{
  text-align: left;
  background-color:rgb(195, 251, 234) ;
}
h1,h4,p{
  color: #3f6653;
  text-align: center;
}
.boom{
  align-items: center;
  border-radius: 100%;
  border-color: red;
  border-width: thick;
}
button{
  padding: 40px;
  color: #61bec1;
  border-radius: 30px;

}
